body {
  color: #742305;
  font-family: "Roboto", sans-serif;
}

.card {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  width: 20%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card img {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  width: 100%;
}
#contenuto {
  background-color: #fbf7e3;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1em;
}
#prodotto h2 {
  margin-bottom: 0;
  font-size: 1.4em;
}
#prodotto p {
  margin-top: 0;
  text-align: center;
}
#prezzo {
  display: flex;
  align-items: center;
  font-weight: bold;
}
#bottone {
  border-radius: 25px;
  border: none;
  padding: 1em 0;
  width: 50%;
  margin-bottom: 1em;
  background-color: #f3df85;
  display: flex;
  justify-content: center;
}
