body {
  color: #742305;
}
#content {
  background-color: #fbf7e3;
  display: flex;
  border-radius: 20px;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  #content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  #miele img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  #content {
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
  }
  #testo {
    padding: 0 2em;
  }
}
