body {
  color: #742305;
}
nav {
  background-color: #fbf7e3;
  padding: 1em;
  border-radius: 60px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li img {
  width: 60px;
}
nav ul li {
  background-color: rgb(255, 210, 114);
  border-radius: 60px;
  padding: 15px 20px;
  font-weight: 700;
}
#shop {
  display: flex;
  align-items: center;
  font-weight: 900;
}
#shop p {
  padding-left: 2em;
  font-size: 1.5em;
  margin: 0;
}
