@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Prata&family=Sevillana&display=swap');

.container {
    background: linear-gradient(90deg, red, orange, white, green, blue);
}

h1 {
    text-align: center;
    color: black;
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 64px;
    font-family: "Prata";
}
ul {
    text-align: center;
    font-size: 4em;
    font-family: 'Sevillana';
}
li {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -50px;
    padding-left: 10px;
    border-bottom: 1px;
    border-color: #dfdfdf;
}

a {
    font-weight: 400;
    color: black;
}