@mixin flexContainers {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexOrizz {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin totalWidth {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
}
@mixin spacing($myMargin, $myPadding) {
    margin: $myMargin;
    padding: 0;
}

@mixin titleBig {
    font-size: $fontSizeXL;
    text-shadow: 2px 2px 2px transparentize($textColor, .6);
    font-weight: bold;
    color: lighter($textColor, 25%);
}

@mixin spacing ($display, $property, $size){
    @if ($display == 'block') {
        display: $display;
    } @else if ($display == 'inline'){
        display: $display;
    }
}