$backgroundColor: #640fc5;
$textColor: #f4f4f4;
$buttonColor1: #0e6cff;
$buttonColor2: #ff8700;
$buttonColor3: #4caf50;

$mainFontFamily: "Roboto", sans-serif;
$fontSizeXL: 3em;
$fontSizeL: 2em;
$fontSizeM: 1.5em;
$fontSizeS: 1em;
$fontSizeXS: .5em;